@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: linear-gradient(90deg,white,rgb(123, 93, 255));
}
nav{
    display: flex;
    box-shadow: 0 6px 60px rgba(0, 0, 0, 0.15);
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.header img{
    width: 40px;
    margin-right: -10px;
}

.header h1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0;
}
#p-div{
    border: 1px solid rgb(84, 81, 81);
    margin: 30px 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
#p-div p{
    color: rgb(67, 64, 64);
}
.expense{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.expense input{
    width: 60%;
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 8px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}
select{
    padding: 8px;
    border-radius: 8px;
    width: 60%;
    border: none;
    color: grey;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
}
.expense button{
    margin-top: 10px;
    padding: 8px;
    width: 30%;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.expense button:hover{
    background: rgb(145, 123, 255);
    color: black;
    transition: 0.3s ease;
}
@media (min-width: 768px) {
    nav{
        display: flex;
        justify-content: left;
    }
    #p-div{
        width: 600px;

        margin: 50px auto;
        padding: 20px;
        font-size: 15px;
    }
    .expense{
        gap: 15px;
    }
    .expense input{
        width: 50%;
        font-size: 15px;
        font-weight: 500;
        padding: 12px;
    }
    select{
        padding: 12px;
        width: 50%;
        font-size: 15px;
        font-weight: 500;
    }
    .expense button{
        width: 20%;
    }
}

@media (min-width: 1024px) {
    #p-div{
        width: 800px;
        margin: 60px auto;
        padding: 25px;
        font-size: 18px;
    }
}