@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background:white;
}
nav{
    display: flex;
    box-shadow: 0 6px 60px rgba(0, 0, 0, 0.15);
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 3px;
    position: relative;
}
.header img{
    width: 40px;
    margin-right: -10px;
}

.header h1{
    color: rgb(92, 193, 92);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
nav::after{
    content: "";
    position: absolute;
    width: 38%;
    height: 1px;
    background-color:rgb(27, 0, 149);
    left: 2;
    bottom: 6px;
}
#p-div{
    border:rgb(27, 0, 149) solid 1px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
    width: 70%;
}
#p-div p{
    color: rgb(27, 0, 149);

}
#expense-header{
    color: rgb(27, 0, 149);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.popup{
    color: rgb(27, 0, 149);
    text-align: center;
    background:rgb(92, 193, 92);
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    display: none;
}
.popup.show{
    display: block;
}
.expense{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 0px auto;
    padding: 20px 5px;
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.expense input{
    width: 90%;
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgb(199, 199, 199);
    padding: 8px;

}
.expense input::placeholder{
     color:rgb(27, 0, 149);
}
select{
    padding: 8px;
    border-radius: 8px;
    width: 90%;
    border: solid 1px rgb(199, 199, 199);
    color: rgb(27, 0, 149);
    font-size: 10px;
    outline: none;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
}
.expense button{
    margin-top: 10px;
    padding: 8px;
    width: 90%;
    background: rgb(92, 193, 92);
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color:rgb(27, 0, 149);
    font-size: 10px;
}
.dropdown{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#duration{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
#duration button{
    font-size: 10px;
}
#btn{
    margin-top: 5px;
    padding: 8px;
    width: 90px;
    background: rgb(92, 193, 92);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(27, 0, 149);
    font-size: 10px;
}
.dropdown-menu {
    margin-top: 10px;
    display: none;
    border-radius: 10px;
    width: 75%;
    padding: 5px 0;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.dropdown-menu button{
    width: 50px;
    font-size: 8px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background:white;
    color: rgb(27, 0, 149);
    margin: 3px 0;
    border: solid 1px rgb(27, 0, 149);
}
#show-all{
    width: 50px;
    font-size: 8px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: white;
    color: rgb(27, 0, 149);
    margin: 3px 0;
    border: solid 1px rgb(27, 0, 149);
    display: none;
}

.btn{
    margin-top: 5px;
    padding: 8px;
    width: 70px;
    background: rgb(27, 0, 149);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color:white;
}
.btn:hover{
    color: rgb(27, 0, 149);
    background:white;
    transition: 0.3s ease;
    border: solid 1px rgb(27, 0, 149);
}
.dropdown-menu button:hover{
    color:white;
    background: rgb(27, 0, 149);
    border: solid 1px white;
}
.expense-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.expense-card{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    min-height: 200px;
}

.delete-btn{
    padding: 5px;
    width: 80%;
    background:rgb(92, 193, 92);
    border-radius: 10px;
    color:rgb(27, 0, 149);
    border: none;
    margin-top: 3px;
    cursor: pointer;
    font-size: 10px;
}
.delete-btn:hover{
    background: red;
    color: white;
    transition: ease 0.3s;
}
.expense-text{
    background-color: rgb(27, 0, 149);
    color: white;
    padding: 5px;
    border: solid 1px rgb(27, 0, 149);
    border-radius: 8px;
    width: 80%;
    cursor: pointer;
    font-size: 10px;
}
#total-div{
    border: solid 1px rgb(27, 0, 149);
    width: 50%;
    margin: 15px auto;
    border-radius: 10px;
}
#total{
    font-size: 15px;
    text-align: center;
    color:rgb(27, 0, 149);
}

@media (min-width: 600px) {
    nav{
        display: flex;
        justify-content: left;
    }
    #p-div{
        width: 70%;
        margin: 50px auto;
        padding: 20px;
        font-size: 12px;
    }
    .expense{
        gap: 15px;
        padding-top: 45px;
        width:50%;
    }
    .expense input{
        width: 90%;
        font-size: 12px;
        font-weight: 500;
        padding: 12px;
    }
    select{
        padding: 12px;
        width: 90%;
        font-size: 12px;
    }
    .expense button{
        width: 90%;
    }
    #expense-header{
        font-weight: 900px;
    }
    #duration{
        gap: 30px;
    }
    .btn{
        margin-top: 20px;
        padding: 10px;
        width: 130px;
        font-size: 15px;
    }
    #btn{
        margin-top: 20px;
        padding: 10px;
        width: 130px;
        font-size: 12px;
    }
    .dropdown-menu button{
        width: 90px;
        font-size: 10px;
        padding: 8px;
        margin-left: 10px;
    }
    #show-all{
        width: 90px;
        font-size: 10px;
        padding: 8px;
    }
    .expense-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 10px;
    }
    .expense-card{
        flex: 1 1 calc(33.333% - 10px);
        max-width: 200px;
    }
}

@media (min-width: 1024px) {
    #p-div{
        width: 50%;
        margin: 60px auto;
        padding: 25px;
        font-size: 13px;
    }
    .expense{
        width: 40%;
    }
    .expense input{
        font-size: 13px;
    }
    #category{
        font-size: 13px;
    }
    .expense button{
        font-size: 13px;
    }
    #expense-header{
        font-size: 20px;
    }
    #duration button{
        font-size: 13px;
    }
    .btn{
        padding: 10px;
        width: 150px;

    }
    #btn{
        margin-top: 25px;
        padding: 10px;
        width: 150px;
    }
    .dropdown-menu button{
        width: 120px;
        font-size: 10px;
        padding: 12px;
        margin-left: 20px;
        margin-top: 50px;
    }
    .expense-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .expense-card{
        flex: 1 1 calc(25% - 20px);
        max-width: 250px;
    }
    #total-div{
        width: 20%;
    }
     #show-all{
        width: 120px;
        font-size: 10px;
        padding: 12px;
        margin-top: 50px;
    }
}